{% extends 'dashboard/base.html' %}
{% block title %} Student - Admin Dashboard {% endblock %}
<!-- Nav Bar Code -->
{% block navbar%}
<nav>
    <div class="nav d-block d-lg-flex nav-tabs " id="nav-tab" role="tablist">
        <a href="{% url 'dashboard' %}"><button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
       type="button" role="tab" aria-controls="home" aria-selected="true">Dashboard</button></a>
       <a href="{% url 'addcourse' %}"><button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
       type="button" role="tab" aria-controls="about" aria-selected="false">Courses</button></a>
       <a href="{% url 'addteacher' %}"><button class="nav-link" id="timing-tab" data-bs-toggle="tab" data-bs-target="#timing"
       type="button" role="tab" aria-controls="timing" aria-selected="false">Teachers</button></a>
       <a href="{% url 'addstudent' %}"> <button class="nav-link active" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Students</button></a>
       <a href="{% url 'addchairperson' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Chairperson</button></a>
       <a href="{% url 'feedbacks' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Feedbacks</button></a>
       <a href="/"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Reports</button></a>
    </div>
</nav>
<div class="position-relative d-inline-block me-lg-4">
    <a href="{% url 'logout' %}" ><button class="navbuttons">Logout</button></a>
</div>
{% endblock %}
<!-- Nav Bar Code End -->
{% block content %}
<div class="admin-container">
    <div class="container-detials">
        <form method="post">
            {% csrf_token %}
        <div class="add-course">
            <div class="course-style" style="width: 800px; margin-top: 20px;"> 
                <div class="content"> 
                    <h2>Add Student</h2> 
                    <div class="form"> 
                        <div class="inputBox"> 
                            {{ form.full_name.errors }}
                            {{ form.full_name }} <i>Full Name</i> 
                        </div> 
                        <div class="inputBox">
                            {{ form.registration_number.errors }} 
                            {{ form.registration_number }}<i>Registration Number</i> 
                        </div>
                        <div class="inputBox"> 
                            {{ form.password.erros }}
                            {{ form.password }}<i>Password</i> 
                        </div>
                        <div class="inputBox"> 
                            <label style="color:white; padding-bottom:10px;">Semester</label>
                            {{ form.semester.errors }}
                            {{ form.semester }}
                            {{form.role}}
                        </div> 
                        <div class="inputBox"> 
                            <label style="color:white; padding-bottom:10px;">Select Course</label>
                                {{ form.enrolled_courses }}
                        </div>
                        <div class="inputBox"> 
                            <button type="submit" class="login-button">Add Student</button>
                        </div> 
                    </div> 
                </div> 
            </div> 
    </div>
</form>
      <h1>All Students</h1>
    <table class="table table-striped mb-0">
        <thead>
            <th>Full Name</th>
            <th>Registration Number</th>
            <th>Semester</th>
            <th>Courses</th>
        </thead>
        {% for student in students %}
            <tr>
                <td>{{ student.full_name }}</td>
                <td>{{ student.registration_number }}</td>
                <td>{{ student.semester }}</td>
                <td>
                    {% for course in student.enrolled_courses.all %}
                    {{ course.course_name }} (Section: {{course.section}})  <br>
                    {% endfor %}
                </td>
                <!-- Add more course details here -->
            </tr>
        {% endfor %}
    </table>
    </div>
    </div>
    <div class="dashboard">
        <a href="{% url 'dashboard' %}">
            <button class="button-89" role="button">Back to Dashboard</button>
        </a>
    </div>
{% endblock %}

