{% extends 'dashboard/base.html' %}
{% block title %} Admin Dashboard {% endblock %}
<!-- Nav Bar Code -->
{% block navbar%}
<nav>
    <div class="nav d-block d-lg-flex nav-tabs " id="nav-tab" role="tablist">
        <a href="{% url 'dashboard' %}"><button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
       type="button" role="tab" aria-controls="home" aria-selected="true">Dashboard</button></a>
       <a href="{% url 'addcourse' %}"><button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
       type="button" role="tab" aria-controls="about" aria-selected="false">Courses</button></a>
       <a href="{% url 'addteacher' %}"><button class="nav-link" id="timing-tab" data-bs-toggle="tab" data-bs-target="#timing"
       type="button" role="tab" aria-controls="timing" aria-selected="false">Teachers</button></a>
       <a href="{% url 'addstudent' %}"> <button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Students</button></a>
       <a href="{% url 'addchairperson' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Chairperson</button></a>
       <a href="{% url 'feedbacks' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Feedbacks</button></a>
       <a href="/"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Reports</button></a>
    </div>
</nav>
<div class="position-relative d-inline-block me-lg-4">
    <a href="{% url 'logout' %}" ><button class="navbuttons">Logout</button></a>
</div>
{% endblock %}
<!-- Nav Bar Code End -->
{% block content %}
    <div class="dashboard-contain">
        <div class="one">
            <center><h1 class="dashboard-heading">Welcome to Admin Dashboard</h1></center>
        </div>
            <div class="dashboard">
                <a href="{% url 'addcourse' %}">
                    <div class="dashboard-buttons">
                        <h2> Courses </h2>
                    </div>
                </a>
                <a href="{% url 'addteacher' %}">
                    <div class="dashboard-buttons">
                        <h2> Teachers </h2>
                    </div>
                </a>
                <a href="{% url 'addstudent' %}">
                    <div class="dashboard-buttons">
                        <h2> Students </h2>
                    </div>
                </a>
                <a href="{% url 'addchairperson' %}">
                    <div class="dashboard-buttons">
                        <h2> Chairperson </h2>
                    </div>
                </a>
            </div>
            <div class="dashboard">
                <a href="{% url 'addstudent' %}">
                    <div class="dashboard-buttons">
                        <h2> Sentiment Results </h2>
                    </div>
                </a>
                <a href="{% url 'feedbacks' %}">
                    <div class="dashboard-buttons">
                        <h2> Feedbacks </h2>
                    </div>
                </a>
                <a href="{% url 'addstudent' %}">
                    <div class="dashboard-buttons">
                        <h2> Reports </h2>
                    </div>
                </a>
            </div>
    </div>
        
{% endblock %}