{% extends 'dashboard/base.html' %}
{% block title %} Teacher Dashboard {% endblock %}
<!-- Nav Bar Code -->
{% block navbar%}
<nav>
    <div class="nav d-block d-lg-flex nav-tabs " id="nav-tab" role="tablist">
        <a href="{% url 'dashboard' %}"><button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
       type="button" role="tab" aria-controls="home" aria-selected="true">Dashboard</button></a>
       <a href="{% url 'feedbacks' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Feedbacks</button></a>
       <a href="{% url 'teacheranalysis' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Sentiment Results</button></a>
       <a href="{% url 'teacherreport' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Reports</button></a>
    </div>
</nav>
<div class="position-relative d-inline-block me-lg-4">
    <a href="{% url 'logout' %}" ><button class="navbuttons">Logout</button></a>
</div>
{% endblock %}
<!-- Nav Bar Code End -->
{% block content %}
    <div class="dashboard-contain">
        <div class="one">
            <center><h1 class="dashboard-heading">Welcome {{name}}</h1></center>
        </div>
            <div class="dashboard">
                <a href="{% url 'teacherfeedback' %}">
                    <div class="dashboard-buttons">
                        <h2> Feedbacks </h2>
                    </div>
                </a>
                <a href="{% url 'teacheranalysis' %}">
                    <div class="dashboard-buttons">
                        <h2> Sentiment Results </h2>
                    </div>
                </a>
                <a href="{% url 'teacherreport' %}">
                    <div class="dashboard-buttons">
                        <h2> Reports </h2>
                    </div>
                </a>
            </div>
    </div>
        
{% endblock %}