{% extends 'dashboard/base.html' %}
{% block title %} Home {% endblock %}
<!-- Nav Bar Code -->
{% block navbar%}
<nav>
    {% if user == 'admin' %}
    <div class="nav d-block d-lg-flex nav-tabs " id="nav-tab" role="tablist">
        <a href="{% url 'dashboard' %}"><button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
       type="button" role="tab" aria-controls="home" aria-selected="true">Dashboard</button></a>
       <a href="{% url 'addcourse' %}"><button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
       type="button" role="tab" aria-controls="about" aria-selected="false">Courses</button></a>
       <a href="{% url 'addteacher' %}"><button class="nav-link" id="timing-tab" data-bs-toggle="tab" data-bs-target="#timing"
       type="button" role="tab" aria-controls="timing" aria-selected="false">Teachers</button></a>
       <a href="{% url 'addstudent' %}"> <button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Students</button></a>
       <a href="/"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Chairperson</button></a>
       <a href="{% url 'feedbacks' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Feedbacks</button></a>
       <a href="/"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Reports</button></a>
    </div>
    {% elif user == 'student' %}
    <div class="nav d-block d-lg-flex nav-tabs " id="nav-tab" role="tablist">
        <a href="{% url 'dashboard' %}"><button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
       type="button" role="tab" aria-controls="home" aria-selected="true">Dashboard</button></a>
        <a href="{% url 'home' %}"><button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
       type="button" role="tab" aria-controls="about" aria-selected="false">Home</button></a>
        <a href="{% url 'feedbacks' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Feedbacks</button></a>
        <a href="{% url 'addteacher' %}"><button class="nav-link" id="timing-tab" data-bs-toggle="tab" data-bs-target="#timing"
        type="button" role="tab" aria-controls="timing" aria-selected="false">Feedback Guide</button></a>
        <a href="{% url 'addstudent' %}"> <button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Contact Us</button></a>
    </div>
    {% elif user == 'chairperson' %}
    <div class="nav d-block d-lg-flex nav-tabs " id="nav-tab" role="tablist">
        <a href="{% url 'dashboard' %}"><button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
       type="button" role="tab" aria-controls="home" aria-selected="true">Dashboard</button></a>
       <a href="{% url 'feedbacks' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Feedbacks</button></a>
       <a href="{% url 'feedbacks' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Sentiment Results</button></a>
       <a href="/"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Reports</button></a>
    </div>
    {% endif %}
</nav>
<div class="position-relative d-inline-block me-lg-4">
    <a href="{% url 'logout' %}" ><button class="navbuttons">Logout</button></a>
</div>
{% endblock %}
<!-- Nav Bar Code End -->

{% block content %}
<div class="dashboard-contain">
    {% if user == 'admin' %}
    <div class="one">
        <center><h1 class="dashboard-heading">Feedback from {{feedback.registration_number.full_name}}</h1></center>
    </div>
    <ul>
            <li><strong>Feedback Number:&nbsp;</strong> {{ feedback.feedback_number }}<br></li>
            <li><strong>Course Name:&nbsp;</strong> {{ feedback.course.course_name }} (Section: {{feedback.course.section}})</li>
            <li><strong>Registration Number:&nbsp;</strong> {{ feedback.registration_number.registration_number }}</li>
            <div class="Question"><strong>Question 1: How would you rate the effectiveness of the teaching methods used in this course?</strong> </div>
            <li><strong>Answer: &nbsp;</strong>{{ feedback.Q1 }}</li>
            <div class="Question"><strong>Question 2: Were you satisfied with the relevance and comprehensiveness of the course materials?</strong> </div>
            <li><strong>Answer: &nbsp;</strong>{{ feedback.Q2 }}</li>
            <div class="Question"><strong>Question 3: Did you find the assessments (exams, quizzes, projects) fair and reflective of your understanding?</strong> </div>
            <li><strong>Answer: &nbsp;</strong>{{ feedback.Q3 }}</li>
            <div class="Question"><strong>Question 4: How would you rate the quality and usefulness of the lab sessions and facilities?</strong> </div>
            <li><strong>Answer: &nbsp;</strong>{{ feedback.Q4 }}</li>
            <div class="Question"><strong>Question 5: What is your overall assessment of this course, and do you have any suggestions for improvement?</strong> </div>
            <li><strong>Answer: &nbsp;</strong>{{ feedback.Q5 }}</li>
                
            </li>
            <hr>
    </ul>
    {% elif user == 'student' %}
    <div class="one">
        <center><h1 class="dashboard-heading">Feedback Submitted by you!</h1></center>
    </div>
    <ul>
        <li><strong>Your Feedback&nbsp;</strong> <br></li>
        <li><strong>Course Name:&nbsp;</strong> {{ feedback.course.course_name }} (Section: {{feedback.course.section}})</li>
        <li style='display: none;'><strong>Registration Number:&nbsp;</strong> {{ feedback.registration_number.registration_number }}</li>
        <div class="Question"><strong>Question 1: How would you rate the effectiveness of the teaching methods used in this course?</strong> </div>
        <li><strong>Answer: &nbsp;</strong>{{ feedback.Q1 }}</li>
        <div class="Question"><strong>Question 2: Were you satisfied with the relevance and comprehensiveness of the course materials?</strong> </div>
        <li><strong>Answer: &nbsp;</strong>{{ feedback.Q2 }}</li>
        <div class="Question"><strong>Question 3: Did you find the assessments (exams, quizzes, projects) fair and reflective of your understanding?</strong> </div>
        <li><strong>Answer: &nbsp;</strong>{{ feedback.Q3 }}</li>
        <div class="Question"><strong>Question 4: How would you rate the quality and usefulness of the lab sessions and facilities?</strong> </div>
        <li><strong>Answer: &nbsp;</strong>{{ feedback.Q4 }}</li>
        <div class="Question"><strong>Question 5: What is your overall assessment of this course, and do you have any suggestions for improvement?</strong> </div>
        <li><strong>Answer: &nbsp;</strong>{{ feedback.Q5 }}</li>
            
        </li>
        <hr>
    </ul>
    {% elif user == 'chairperson' %}
    <div class="one">
        <center><h1 class="dashboard-heading">Feedback Details</h1></center>
    </div>
    <ul>
        <li style="display: none;"><strong>Your Feedback&nbsp;</strong> <br></li>
        <li><strong>Course Name:&nbsp;</strong> {{ feedback.course.course_name }} (Section: {{feedback.course.section}})</li>
        <li style='display: none;'><strong>Registration Number:&nbsp;</strong> {{ feedback.registration_number.registration_number }}</li>
        <div class="Question"><strong>Question 1: How would you rate the effectiveness of the teaching methods used in this course?</strong> </div>
        <li><strong>Answer: &nbsp;</strong>{{ feedback.Q1 }}</li>
        <div class="Question"><strong>Question 2: Were you satisfied with the relevance and comprehensiveness of the course materials?</strong> </div>
        <li><strong>Answer: &nbsp;</strong>{{ feedback.Q2 }}</li>
        <div class="Question"><strong>Question 3: Did you find the assessments (exams, quizzes, projects) fair and reflective of your understanding?</strong> </div>
        <li><strong>Answer: &nbsp;</strong>{{ feedback.Q3 }}</li>
        <div class="Question"><strong>Question 4: How would you rate the quality and usefulness of the lab sessions and facilities?</strong> </div>
        <li><strong>Answer: &nbsp;</strong>{{ feedback.Q4 }}</li>
        <div class="Question"><strong>Question 5: What is your overall assessment of this course, and do you have any suggestions for improvement?</strong> </div>
        <li><strong>Answer: &nbsp;</strong>{{ feedback.Q5 }}</li>
            
        </li>
        <hr>
    </ul>
    {% endif %}
    <div class="dashboard">
        <a href="{% url 'dashboard' %}">
            <button class="button-89" role="button">Back to Dashboard</button>
        </a>
        <a href="{% url 'feedbacks' %}">
            <button class="button-89" role="button">All Feedbacks</button>
        </a>
    </div>
</div>
{% endblock %}