{% extends 'dashboard/base.html' %}
{% block title %} Explore Report {% endblock %}
<!-- Nav Bar Code -->
{% block navbar%}
<nav>
    {% if access == 'admin' %}
    <div class="nav d-block d-lg-flex nav-tabs " id="nav-tab" role="tablist">
        <a href="{% url 'dashboard' %}"><button class="nav-link " id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
       type="button" role="tab" aria-controls="home" aria-selected="true">Dashboard</button></a>
       <a href="{% url 'addcourse' %}"><button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
       type="button" role="tab" aria-controls="about" aria-selected="false">Courses</button></a>
       <a href="{% url 'addteacher' %}"><button class="nav-link" id="timing-tab" data-bs-toggle="tab" data-bs-target="#timing"
       type="button" role="tab" aria-controls="timing" aria-selected="false">Teachers</button></a>
       <a href="{% url 'addstudent' %}"> <button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Students</button></a>
       <a href="{% url 'addchairperson' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Chairperson</button></a>
       <a href="{% url 'feedbacks' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Feedbacks</button></a>
       <a href="{% url 'view_reports' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Reports</button></a>
    </div>
    {% elif access == 'chairperson'%}
    <div class="nav d-block d-lg-flex nav-tabs " id="nav-tab" role="tablist">
        <a href="{% url 'dashboard' %}"><button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
       type="button" role="tab" aria-controls="home" aria-selected="true">Dashboard</button></a>
       <a href="{% url 'feedbacks' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Feedbacks</button></a>
       <a href="{% url 'feedbacks' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Sentiment Results</button></a>
       <a href="{% url 'view_reports' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Reports</button></a>
    </div>
    {% endif %}
</nav>
<div class="position-relative d-inline-block me-lg-4">
    <a href="{% url 'logout' %}" ><button class="navbuttons">Logout</button></a>
</div>
{% endblock %}
<!-- Nav Bar Code End -->

{% block content %}
<div class="dashboard-contain">
    <div class="one">
        <center><h1 class="dashboard-heading">Report Submit by {{reports.username}}</h1></center>
    </div>
    <div class="ayalysis-chart" style="
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center; padding-top: 40px; padding-bottom: 40px;">
        <div class="analysis-details" style="    padding: 60px;
        width: 30%;
        border: 2px dashed green;
        height: 100%;">
            <p><strong>Total Feedbacks:</strong> {{ reports.total_feedbacks }}</p>

        <p><b>Positive:</b> {{ reports.positive_percentage }}%</p>
        <p><b>Negative: </b>{{ reports.negative_percentage }}%</p>
        <p><b>Neutral: </b>{{ reports.neutral_percentage }}%</p>
        </div>
    <!-- Graph Code -->
    <div class="anaylsis-pie" style="width: 30%; padding-left: 50px;">
    <canvas id="sentimentChart" width="300" height="300" style="max-width: 300px !important; max-height: 300px !important;"></canvas>
    </div>
    
    </div>
</div>
<center><h1 class="dashboard-heading">Report</h1></center>
<div class="report-message">
    
    <p style="width: 60%; padding: 5px; border: 2px dashed;">{{reports.report_message}}</p>
</div>
    <div class="dashboard">
        <a href="{% url 'dashboard' %}">
            <button class="button-89" role="button">Back to Dashboard</button>
        </a>
        <a href="{% url 'sentiment_analysis_results' %}">
            <button class="button-89" role="button">Sentiment Analysis</button>
        </a>
        <a href="{% url 'view_reports' %}">
            <button class="button-89" role="button">All Reports</button>
        </a>
    </div>

    <script>
        var ctx = document.getElementById('sentimentChart').getContext('2d');
        var data = {
            labels: ['Positive(%)', 'Negative(%)', 'Neutral(%)'],
            datasets: [{
                data: [{{ reports.positive_percentage }}, {{ reports.negative_percentage }}, {{ reports.neutral_percentage }}],
                backgroundColor: ['#36A2EB', '#FF6384', '#FFCE56'],
            }]
        };
        var options = {
            responsive: true,
        };
        var myPieChart = new Chart(ctx, {
            type: 'pie',
            data: data,
            options: options
        });
    </script>
{% endblock %}