{% extends 'dashboard/base.html' %}
{% block title %} Home {% endblock %}
<!-- Nav Bar Code -->
{% block navbar%}
<nav>
    <div class="nav d-block d-lg-flex nav-tabs " id="nav-tab" role="tablist">
        <a href="{% url 'dashboard' %}"><button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
       type="button" role="tab" aria-controls="home" aria-selected="true">Dashboard</button></a>
       <a href="{% url 'addcourse' %}"><button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about"
       type="button" role="tab" aria-controls="about" aria-selected="false">Courses</button></a>
       <a href="{% url 'addteacher' %}"><button class="nav-link" id="timing-tab" data-bs-toggle="tab" data-bs-target="#timing"
       type="button" role="tab" aria-controls="timing" aria-selected="false">Teachers</button></a>
       <a href="{% url 'addstudent' %}"> <button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Students</button></a>
       <a href="/"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Chairperson</button></a>
       <a href="{% url 'feedbacks' %}"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
        type="button" role="tab" aria-controls="courses" aria-selected="false">Feedbacks</button></a>
       <a href="/"><button class="nav-link" id="courses-tab" data-bs-toggle="tab" data-bs-target="#courses"
       type="button" role="tab" aria-controls="courses" aria-selected="false">Reports</button></a>
    </div>
</nav>
<div class="position-relative d-inline-block me-lg-4">
    <a href="{% url 'logout' %}" ><button class="navbuttons">Logout</button></a>
</div>
{% endblock %}
<!-- Nav Bar Code End -->

{% block content %}
<center><h1>Feedback from Student {{feedback.registration_number.full_name}}</h1></center>
    <ul>
            <li>
                <strong>Feedback Number:</strong> {{ feedback.feedback_number }}<br>
                <strong>Course Name:</strong> {{ feedback.course.course_name }} (Section: {{feedback.course.section}})<br>
                <strong>Registration Number:</strong> {{ feedback.registration_number.registration_number }}<br>
                <strong>Question 1: How would you rate the effectiveness of the teaching methods used in this course?</strong> <br>
                <strong>Answer: </strong>{{ feedback.Q1 }}<br>
                <strong>Question 2: Were you satisfied with the relevance and comprehensiveness of the course materials?</strong> <br>
                <strong>Answer: </strong>{{ feedback.Q1 }}<br>
                <strong>Question 3: Did you find the assessments (exams, quizzes, projects) fair and reflective of your understanding?</strong> <br>
                <strong>Answer: </strong>{{ feedback.Q1 }}<br>
                <strong>Question 4: How would you rate the quality and usefulness of the lab sessions and facilities?</strong> <br>
                <strong>Answer: </strong>{{ feedback.Q1 }}<br>
                <strong>Question 5: What is your overall assessment of this course, and do you have any suggestions for improvement?</strong> <br>
                <strong>Answer: </strong>{{ feedback.Q1 }}<br>
                <a href="{% url 'feedbacks'%}"><strong>Feedback List</strong></a><br>
                <!-- Add other fields as needed -->
            </li>
            <hr>
    </ul>
{% endblock %}